body{
  letter-spacing: 1px;
}

  .carousel3{
    padding-left: 15em;
    padding-right: 15em;
  }

  .carousel-control-next, .carousel-control-prev {

      position: absolute;
      top: 12em;
      bottom: 0;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35px;
      padding: 0;
      color: #fff;
      text-align: center;
      background-color: none;
      border: 0;
      opacity: .5;
      transition: opacity .15s ease;
      height: 35px;
      border-radius: 35px;
      box-sizing: border-box;

      }

      .carousel-control-next{
        opacity: 1 !important;
      }

      .carousel-control-prev {
        opacity: 1 !important;
      }

      .carousel-control-next-icon, .carousel-control-prev-icon {
        width: 1.5rem;
        height: 1.5rem;
      }

      .prev2{
        left: 6em;
      }

      .next2{
        right: 6em;
      }

      .SectionSix1th{
        display: block;
      }

      .SectionSix2th{
        display: none;
      }

      .SectionSix3th{
        display: none;
      }

      @media screen and (max-width: 1200px){
        .carousel-control-next, .carousel-control-prev{
          top: 11.5em !important;
        }

        .prev2{
          top: 18em !important;
          left: 2em !important;
        }

        .next2{
          top: 18em !important;
          right: 2em !important;
        }

        .carousel3{
          padding-left: 2em !important;
          padding-right: 2em !important;
        }

        .SectionSix2th{
        display: block;
          }

        .SectionSix1th{
            display: none;
        }

      }

      @media screen and (max-width: 990px){
        .carousel-control-next, .carousel-control-prev{
          top: 13em !important;
        }
        .carousel-control-next img, .carousel-control-prev img{
          width: 40px !important;
        }
      }

      @media screen and (max-width: 768px){
        .card-title{
          font-size: 1rem !important;
        }
        .colum{
          width: 50% !important;
        }
        .carousel3{
          padding-left: 0em !important;
          padding-right: 0em !important;
        }
        .card-body{
          padding: 0.2rem !important;
        }
        .card2{
          padding: 0em !important;
        }
      }

      @media screen and (max-width: 640px){
        .SectionSix2th{
          display: none !important;
        }
        .SectionSix3th{
          display: block !important;
        }
        .card{
          padding: 0.1em !important;
        }
        .carousel-control-next{
          right: 0em !important;
        } 
        .carousel-control-prev{
          left: 0em !important;
        }
        .carousel-control-next img, .carousel-control-prev img{
          width: 30px !important;
        }
        .colum{
          width: 80% !important;
        }
        .card-body{
          padding: 0.2rem !important;
        }
        .card-text{
          font-size: 12px !important;
        }
        .carousel-control-next, .carousel-control-prev{
          top: 10em !important;
        }
      }