.navlistRight li:nth-child(1){
  display: none;
}

.navlistRight li:nth-child(1) span{
  font-size:25px;
  cursor:pointer;
  color: #128b94;
}

.sidenav{
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  background-color: #128b94;
  overflow: scroll;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav li {
  display: inline-block;
  padding: 8px 25px 8px 25px;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  display: block;
  transition: 0.3s;
  border-top: 2px solid #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-family: arial;
  cursor: pointer;
  letter-spacing: 2px;
  word-spacing: 2px;
  width: 300px;
}

.sidenav li i{
	float: right;
	line-height: 1.5;
}

.sidenav li a{
	color: #fff;
	display: block;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
  color: #fff;
}

/* SolutionB */
.SolutionB{
	background-color: #f1f2f2;
	display: none;
}

.SolutionB li{
	color: #03253b !important;
	border-top: 1px solid #03253b;
	display: block;
	font-size: 14px;
}

.SolutionB li a{
	color: #03253b;
	font-weight: 500;
	display: block;
}

/* ToolsB */
.ToolsB{
	background-color: #f1f2f2;
	display: none;
}

.ToolsB li{
	color: #03253b !important;
	border-top: 1px solid #03253b;
	display: block;
	font-size: 14px;
}

.ToolsB li a{
	color: #03253b;
	font-weight: 500;
	display: block;
}

/* CompanyB */
.CompanyB{
	background-color: #f1f2f2;
	display: none;
}

.CompanyB li{
	color: #03253b !important;
	border-top: 1px solid #03253b;
	display: block;
	font-size: 14px;
}

.CompanyB li a{
	color: #03253b;
	font-weight: 500;
	display: block;
}

.mobile-logo{
  background-color: #f2f2f2;
  padding: 1em 0em;
  text-align: center;
  border-bottom: 1.5px solid #03253b;
  display: none;
}

.mobile-logo a{
  text-decoration: none;
}

.mobile-logo a img{
  width: 150px;
}

@media screen and (max-width: 1440px){
  header {
    height: 500px !important;
  }
  .videoHeading h1 {
    width: 100% !important;
  }
  img[src="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"]{ display: none; }
}

@media screen and (max-width: 1300px){
    nav{
      padding: 0.7em 0em !important;
    }
    .sitelogo{
      margin-left: 0em !important;
    }
    .navlistLeft li{
      margin-left: 0.9em !important;
      font-size: 14px !important;
    }
    .sitelogo a img{
      width: 180px !important;
    }
    .dropdown-content{
      min-width: 150px !important;
    }
    .dropdown-content a{
      font-size: 12px !important;
      padding: 6px 5px !important;
    }
    .navlistRight li{
      margin-left: 1em !important;
      font-size: 14px !important;
    }
    nav{
      height: 67px !important;
    }
    .SolMenuBody{
      top: 4.1em !important;
      left: 13em !important;
      padding: 0.5em !important;
      width: 40%;
    }
    .ProdList li{
      font-size: 14px !important;
    }
    .WorkFList li{
      font-size: 14px !important;
    }
    .TolsMenuBody{
      top: 4.1em !important;
      left: 20.5em !important;
      padding: 0.5em !important;
    }
    .TolsMenuBody li{
      font-size: 14px !important;
    }
    .CoMenuBody{
      top: 4.1em !important;
      left: 31em !important;
      padding: 0.5em !important;
    }
    .CoMenuBody li{
      font-size: 14px !important;
    }
    .SearchBlock{
      top: 4.1em !important;
    }
    .SearchBlock input{
      font-size: 15px !important;
    }
    .Services-Section{
      padding-top: 2em !important;
    }
    .service-header span{
      font-size: 30px;
    }
    .service-header p{
      font-size: 20px;
    }
    .cards{
      padding: 1em 0em !important;
    }
    .cardcontent h2{
      font-size: 20px !important;
    }
    .ToolsSection .videoheader2{
      padding: 2em 0em !important;
    }
    .ToolsSection{
      height: 300px !important;
    }
    .videoHeading2 h1{
      font-size: 30px !important;
    }
    .videoHeading2 p{
      font-size: 20px !important;
    }
    .PlansContainer{
      padding: 0em 2em 2em 2em !important;
    }
    .PlansHeader{
      padding: 1em 0em !important;
    }
    .PlansHeader h1{
      font-size: 30px !important;
    }
    .PlansHeader h4{
      font-size: 20px !important;
    }
    .PlanBoard1{
      padding: 2em 2em !important;
    }
    .PlanBoard2{
      padding: 2em 2em !important;
    }
    .PlanBoard1 li h1{
      font-size: 30px !important;
    }
    .PlanBoard2 li h1{
      font-size: 30px !important;
    }
    .PlanBoard1 li:nth-child(2){
      font-size: 20px !important;
    }
    .PlanBoard2 li:nth-child(2){
      font-size: 20px !important;
    }
    .PlanBoard1 li:nth-child(3){
      font-size: 20px !important;
    }
    .PlanBoard2 li:nth-child(3){
      font-size: 20px !important;
    }
    .PlanBoard1 li:nth-child(4) button{
      font-size: 20px !important;
    }
    .PlanBoard2 li:nth-child(4) button{
      font-size: 20px !important;
    }
    .Events{
      padding-top: 1em !important;
      padding-bottom: 2em !important;
    }
    .NewsHeader h1{
      font-size: 30px !important;
    }
    .aboutheader{
      padding: 1em 1em !important;
    }
    .slug span{
      font-size: 30px !important;
    }
    .accordion-button{
      font-size: 30px !important;
    }
    .accordion-button img{
      width: 20px !important;
    }
  }

  @media screen and (max-width: 1200px){
    .NewsLeterHeader h1{
      font-size: 25px;
    }
    .NewsLeterHeader p{
      font-size: 20px;
      padding-left: 8em;
      padding-right: 8em;
    }
    .newsform li:nth-child(1) h2{
      font-size: 20px;
    }
    .newsform li:nth-child(1) input{
      height: 50px;
      font-size: 16px;
    }
    .newsform li:nth-child(2) button{
      height: 50px;
      font-size: 16px;
    }
    .newsform{
      padding-top: 0;
    }
    .NewsLetter{
      padding: 1em 5em;
    }

    .TrustedBy{
      height: 55px !important;
      line-height: 55px;
    }

    .TrustedLabel{
      height: 55px !important;
      line-height: 50px;
      font-size: 20px;
    }

    .Brandicons{
      height: 55px !important;
      line-height: 50px;
    }

    .Brandicons li img{
      max-height: 40px !important;
    }

    header {
      height: 350px !important;
    }

    .videoHeading {
      top: 4em;
      left: 4em;
    }

    .videoHeading h1 {
    font-size: 50px;
    }

    .videoHeading p {
      width: 85%;
      font-size: 25px;
    }
    .aboutheader{
      height: 50px !important;
      line-height: 50px !important;
    }
    .aboutheader span{
      font-size: 40px !important;
    }
    .ToolsBody{
      padding: 2em 2em !important;
    }
    .Tool-slug span{
      font-size: 30px !important;
    }
    .ToolCard .Tool1-img,.ToolCard .Tool2-img,.ToolCard .Tool3-img, .ToolCard .Tool4-img, .ToolCard .Tool5-img, 
    .ToolCard .Tool6-img, .ToolCard .Tool7-img, .ToolCard .Tool8-img, .ToolCard .Tool9-img, .ToolCard .Tool10-img, 
    .ToolCard .Tool11-img, .ToolCard .Tool12-img, .ToolCard .Tool13-img, .ToolCard .Tool14-img, .ToolCard .Tool15-img, 
    .ToolCard .Tool16-img, .ToolCard .Tool17-img, .ToolCard .Tool18-img, .ToolCard .Tool19-img, .ToolCard .Tool20-img, 
    .ToolCard .Tool21-img, .ToolCard .Tool22-img, .ToolCard .Tool23-img, .ToolCard .Tool24-img, .ToolCard .Tool25-img, 
    .ToolCard .Tool26-img, .ToolCard .Tool27-img, .ToolCard .Tool28-img, .ToolCard .Tool29-img, .ToolCard .Tool30-img, 
    .ToolCard .Tool31-img, .ToolCard .Tool32-img, .ToolCard .Tool33-img, .ToolCard .Tool34-img, .ToolCard .Tool35-img, 
    .ToolCard .Tool36-img, .ToolCard .Tool37-img, .ToolCard .Tool38-img, .ToolCard .Tool39-img, .ToolCard .Tool40-img, 
    .ToolCard .Tool41-img, .ToolCard .Tool42-img, .ToolCard .Tool43-img, .ToolCard .Tool44-img {
      height: 280px !important;
    }

    .ToolsBody .row:nth-child(2){
      padding-top: 2em !important;
    }

    .ToolsBody .row:nth-child(3) {
        padding-top: 2em !important;
    }

    .ToolsBody .row:nth-child(4) {
        padding-top: 2em !important;
    }

    .ToolsBody .row:nth-child(5) {
        padding-top: 2em !important;
    }

    .ToolsBody .row:nth-child(6) {
        padding-top: 2em !important;
    }

    .ToolsBody .row:nth-child(7) {
        padding-top: 2em !important;
    }

    .ToolsBody .row:nth-child(8) {
        padding-top: 2em !important;
    }

    .ToolsBody .row:nth-child(9) {
        padding-top: 2em !important;
    }

    .ToolsBody .row:nth-child(10) {
        padding-top: 2em !important;
    }

    .ToolsBody .row:nth-child(11) {
        padding-top: 2em !important;
    }

    .ToolsBody .row:nth-child(12) {
        padding-top: 2em !important;
    }

    .ToolsBody .row:nth-child(13) {
        padding-top: 2em !important;
    }

    .ToolsBody .row:nth-child(14) {
        padding-top: 2em !important;
    }

    .ToolsBody .row:nth-child(15) {
        padding-top: 2em !important;
    }
    .ToolCard p{
      font-size: 15px !important;
    }
    .ToolCard .tutorialbtn{
      font-size: 16px !important;
    }
    .ToolCard .CartButton{
      font-size: 16px !important;
    }
  }

  @media screen and (max-width: 1100px){
    .navlistLeft{
      display: none !important;
    }
    .navlistRight li:nth-child(1){
      line-height: 1.7;
      display: block !important;
      padding-right: 10px !important;
    }
    .SearchBlock{
      padding: 0em 0.5em !important;
    }
    .SearchBlock input{
      padding: 0.5em !important;
    }
    .SearchBlock span img{
      right: 1em !important;
    }
    footer{
      padding-right: 0.5em !important;
      padding-left: 0.5em !important;
      padding-top: 2em !important;
      padding-bottom: 1em !important;
    }
    .copyright{
      padding-top: 1em !important;
    }
    .footer-social li a div{
      width: 25px !important;
      height: 25px !important;
      line-height: 25px !important;
    }
    .footerIcon a img{
      width: 150px !important;
    }
    .contact-header{
      padding: 2em 0.8em !important;
    }
    .GIT span{
      font-size: 25px !important;
    }
    .fireptyltd li:nth-child(1){
      font-size: 20px !important;
    }
    .pipefabsupport li:nth-child(1){
      font-size: 20px !important;
    }
    .ContactBox div{
      font-size: 25px !important;
    }
    .contactform button{
      font-size: 18px !important;
    }
  }

  @media screen and (max-width: 1024px){
    footer h6{
      font-size: 12px;
    }
    footer li a{
      font-size: 12px;
    }
    .copyright{
      font-size: 12px;
    }
    .footerBar{
      padding: 0.5em 0.5em;
      height: 50px;
    }
    .footer-social li a{
      font-size: 12px;
    }
    .footer-social{
      top: 12px;
      right: 0.5em;
    }
    .footerIcon{
      padding-left: 0.5em;
    }
    .NewsLeterHeader p{
      padding-right: 5em;
      padding-left: 5em;
    }
    .videoHeading {
      left: 2em;
    }

    .fireptyltd{
      width: 100% !important;
    }

    .pipefabsupport{
      float: left !important;
      width: 100% !important;
      padding-top: 1em !important;
    }

    .ContactDetails{
      padding-top: 1em !important;
    }

    .Pricingboardbody{
      padding-right: 1em !important;
      padding-left: 1em !important;
      padding-bottom: 2em !important;
    }
    .T-Item li:nth-child(1){
      font-size: 14px !important;
    }
    .T-Item li:nth-child(2) button{
      font-size: 12px !important;
    }
    .ToolsBody{
      font-size: 16px !important;
      padding-top: 1em !important;
    }
    .pricingbody{
      padding: 1em 1em !important;
    }

    .pricingheader li:nth-child(1){
      font-size: 30px !important;
    }

    .pricingheader li:nth-child(2){
      font-size: 20px !important;
    }
    .pipefablitebody-header li:nth-child(1){
      font-size: 30px !important;
    }
    .pipefabfullbody-header li:nth-child(1){
      font-size: 30px !important;
    }
    .pipefablitebody-header{
      font-size: 16px !important;
    }
    .pipefabfullbody-header{
      font-size: 16px !important;
    }
    .pipefablitebody-header li:nth-child(4) button{
      font-size: 16px !important;
    }
    .pipefabfullbody-header li:nth-child(4) button{
      font-size: 16px !important;
    }
    .tutrialbody{
      padding-right: 1em !important;
      padding-left: 1em !important;
    }
  }

  @media screen and (max-width: 812px){
    .newsform li:nth-child(1) input{
      width: 35em;
    }

    .pipefablitebody-header li:nth-child(1){
      font-size: 20px !important;
    }
    .pipefabfullbody-header li:nth-child(1){
      font-size: 20px !important;
    }
    .ToolsBody{
      font-size: 14px !important;
    }
    .T-Item li:nth-child(1){
      font-size: 12px !important;
    }
    .slug span{
      font-size: 25px !important;
    }
    .accordion-button{
      font-size: 25px !important;
    }
    .accordion-button img{
      width: 15px !important;
    }

  }

  @media screen and (max-width: 768px){

    .videoHeading{
      left: 1em !important;
    }

    .videoHeading h1{
      font-size: 40px !important;
    }

    .videoHeading p {
      width: 100% !important;
      font-size: 25px;
    }
    .aboutheader span{
      font-size: 30px !important;
    }
    .ContactBox{
      padding: 1em 1em !important;
    }
    .ContactBox div{
      font-size: 20px !important;
    }
    .contactform button{
      width: 40% !important;
      font-size: 14px !important;
    }
    .ContactBox input{
      padding: 10px !important;
      font-size: 14px !important;
    }
    .ContactBox input::placeholder{
      font-size: 14px !important;
    }
    .contactform textarea{
      font-size: 14px !important;
      padding: 10px !important;
      padding-left: 10px !important;
      height: 10em !important;
    }

    .ToolCard .Tool1-img,.ToolCard .Tool2-img,.ToolCard .Tool3-img, .ToolCard .Tool4-img, .ToolCard .Tool5-img, 
    .ToolCard .Tool6-img, .ToolCard .Tool7-img, .ToolCard .Tool8-img, .ToolCard .Tool9-img, .ToolCard .Tool10-img, 
    .ToolCard .Tool11-img, .ToolCard .Tool12-img, .ToolCard .Tool13-img, .ToolCard .Tool14-img, .ToolCard .Tool15-img, 
    .ToolCard .Tool16-img, .ToolCard .Tool17-img, .ToolCard .Tool18-img, .ToolCard .Tool19-img, .ToolCard .Tool20-img, 
    .ToolCard .Tool21-img, .ToolCard .Tool22-img, .ToolCard .Tool23-img, .ToolCard .Tool24-img, .ToolCard .Tool25-img, 
    .ToolCard .Tool26-img, .ToolCard .Tool27-img, .ToolCard .Tool28-img, .ToolCard .Tool29-img, .ToolCard .Tool30-img, 
    .ToolCard .Tool31-img, .ToolCard .Tool32-img, .ToolCard .Tool33-img, .ToolCard .Tool34-img, .ToolCard .Tool35-img, 
    .ToolCard .Tool36-img, .ToolCard .Tool37-img, .ToolCard .Tool38-img, .ToolCard .Tool39-img, .ToolCard .Tool40-img, 
    .ToolCard .Tool41-img, .ToolCard .Tool42-img, .ToolCard .Tool43-img, .ToolCard .Tool44-img {
      height: 250px !important;
    }

  }

  @media screen and (max-width: 767px){
    footer{
      text-align: center !important;
    }
    footer h6{
      font-size: 16px;
    }
    footer li a{
      font-size: 14px;
    }
    footer .col-md-3{
      padding-bottom: 1em;
    }
    footer .col-md-2{
      padding-bottom: 1em;
    }
    .NewsLeterHeader p{
      padding-right: 1em;
      padding-left: 1em;
    }
    .newsform li:nth-child(1) input{
      width: 25em;
    }

    .TrustedBy{
      height: 35px !important;
      line-height: 35px;
    }

    .TrustedLabel{
      height: 35px !important;
      line-height: 30px;
      font-size: 16px;
      width: 120px;
    }

    .Brandicons{
      height: 35px !important;
      line-height: 30px;
    }

    .Brandicons li img{
      max-height: 25px !important;
    }

    .formlist{
      width: 50% !important;
    }

    .Rhead1{
      font-size: 20px;
    }

    .Rhead2{
      font-size: 20px;
    }

    .or{
      font-size: 16px;
    }

    .inputt{
      height: 35px !important;
      line-height: 35px !important;
      font-size: 14px !important;
    }

    .requestbtn{
      font-size: 16px !important;
    }

    .formlist:nth-child(1) li:nth-child(6){
      padding-bottom: 0px !important;
    }

    .recaptch1{
      -webkit-transform: scale(0.77) !important;
      transform: scale(0.77) !important;
      -webkit-transform-origin: 0 0 !important; 
      transform-origin: 0 0 !important;
    }

    .recaptch2{
      -webkit-transform: scale(0.77) !important;
      transform: scale(0.77) !important;
      -webkit-transform-origin: 50% 0 !important; 
      transform-origin: 50% 0 !important;
    }

    .socialbadge{
      padding-top: 1em !important;
    }

    .gmailbadge{
      width: 45% !important;
    }

    .facebookbadge{
      width: 45% !important;
    }

    .yahoobadge{
      width: 45% !important;
    }

    .linkedinbadge{
      width: 45% !important;
    }

    .loginlist{
      width: 50% !important;
    }
    .LogIn-Header{
      font-size: 18px !important;
    }
    .loginheader{
      font-size: 18px !important;
    }
    .loginbtn{
      font-size: 14px !important;
    }
    .forgotbtn{
      font-size: 14px !important;
    }
    .loginlist li:nth-child(2) b{
      font-size: 14px !important;
    }
    .registerpanel{
      font-size: 16px !important;
    }
    .PlanBoard1{
      width: 50% !important;
    }
    .PlanBoard2{
      width: 50% !important;
    }
    .ToolsSection{
      height: 350px !important;
    }
    .fireptyltd{
      padding-top: 1em !important;
    }
    .pipefabsupport{
      padding-bottom: 2em !important;
    }
    .lefttollist{
      width: 100% !important;
    }
    .righttoollist{
      width: 100% !important;
    }
    .T-Item{
      padding-bottom: 2.5em !important;
    }
    .T-Item li:nth-child(1){
      font-size: 16px !important;
    }
    .pipefablitebody-header li:nth-child(1){
      font-size: 30px !important;
    }
    .pipefabfullbody-header li:nth-child(1){
      font-size: 30px !important;
    }
    .ToolsItem{
      padding-top: 1em !important;
    }
    .pipefablitebody{
      padding-bottom: 2em !important;
    }
    .pipefabfullbody-header{
      padding-top: 1em !important;
    }
    .lefttollist{
      padding-bottom: 1em !important;
    }
    .T-Item li:nth-child(1){
      font-size: 12px !important;
    }

    .ToolCard .Tool1-img,.ToolCard .Tool2-img,.ToolCard .Tool3-img, .ToolCard .Tool4-img, .ToolCard .Tool5-img, 
    .ToolCard .Tool6-img, .ToolCard .Tool7-img, .ToolCard .Tool8-img, .ToolCard .Tool9-img, .ToolCard .Tool10-img, 
    .ToolCard .Tool11-img, .ToolCard .Tool12-img, .ToolCard .Tool13-img, .ToolCard .Tool14-img, .ToolCard .Tool15-img, 
    .ToolCard .Tool16-img, .ToolCard .Tool17-img, .ToolCard .Tool18-img, .ToolCard .Tool19-img, .ToolCard .Tool20-img, 
    .ToolCard .Tool21-img, .ToolCard .Tool22-img, .ToolCard .Tool23-img, .ToolCard .Tool24-img, .ToolCard .Tool25-img, 
    .ToolCard .Tool26-img, .ToolCard .Tool27-img, .ToolCard .Tool28-img, .ToolCard .Tool29-img, .ToolCard .Tool30-img, 
    .ToolCard .Tool31-img, .ToolCard .Tool32-img, .ToolCard .Tool33-img, .ToolCard .Tool34-img, .ToolCard .Tool35-img, 
    .ToolCard .Tool36-img, .ToolCard .Tool37-img, .ToolCard .Tool38-img, .ToolCard .Tool39-img, .ToolCard .Tool40-img, 
    .ToolCard .Tool41-img, .ToolCard .Tool42-img, .ToolCard .Tool43-img, .ToolCard .Tool44-img {
      height: 300px !important;
      background-size: contain !important;
    }

    .Tool-slug{
      padding: 1.2em 1em !important;
    }

    .Tool-slug span{
      font-size: 20px !important;
    }

  }

  @media screen and (max-width: 640px){
    .sitelogo a img{
      width: 140px !important;
    }
    .navlistRight li{
      font-size: 12px !important;
    }
    .LogIn{
      width: 60px !important;
    }
    .Request{
      width: 120px !important;
    }
    nav{
      height: 57px !important;
    }
    .SearchBlock{
      top: 3.5em !important;
    }
    .dropdown-content{
      top: 3.7em;
    }
    .navlistRight li:nth-child(1){
      line-height: 1.5 !important;
      padding-right: 0px !important;
    }
    .newsform li:nth-child(1) input{
      width: 20em;
      height: 25px;
    }
    .newsform li:nth-child(2) button{
      height: 35px;
      padding: 0px !important;
    }
    .newsform li:nth-child(1) h2{
      font-size: 16px;
    }
    .NewsLetter{
      padding: 1em 0em !important;
    }
    .or li img{
      width: 150px !important;
    }
    .gmailbadge{
      width: 50% !important;
    }

    .facebookbadge{
      width: 50% !important;
    }

    .yahoobadge{
      width: 50% !important;
    }

    .linkedinbadge{
      width: 50% !important;
    }

    .recaptch1{
      -webkit-transform: scale(0.66) !important;
      transform: scale(0.66) !important;
      -webkit-transform-origin: 0 0 !important; 
      transform-origin: 0 0 !important;
    }

    .recaptch2{
      -webkit-transform: scale(0.66) !important;
      transform: scale(0.66) !important;
      -webkit-transform-origin: 50% 0 !important; 
      transform-origin: 50% 0 !important;
    }

    .LogIn-Header{
      font-size: 16px !important;
    }
    .loginheader{
      font-size: 16px !important;
    }
    .loginbtn{
      font-size: 12px !important;
      width: 100% !important;
    }
    .forgotbtn{
      font-size: 12px !important;
      width: 100% !important;
    }
    .loginlist li:nth-child(2) b{
      font-size: 12px !important;
    }
    .registerpanel{
      font-size: 14px !important;
    }
    header .videoheader{
      height: 250px !important;
    }
    header {
      height: 250px !important;
    }
    .videoHeading h1{
      font-size: 25px !important;
    }
    .videoHeading p{
      font-size: 18px !important;
    }

    .flatcard1{
      width: 33% !important;
    }

    .flatcard2{
      width: 33% !important;
      margin: 0% 0.5%;
    }

    .flatcard3{
      width: 33% !important;
    }

    .cardcontent h2{
      font-size: 16px !important;
    }

    .service-header span{
      font-size: 22px !important;
    }

    .videoHeading2 p{
      padding: 0.1em 2em !important;
    }

    .service-header p{
      font-size: 18px !important;
    }

    .ToolsSection{
      height: 280px !important;
    }

    .videoHeading2 h1{
      font-size: 20px !important;
    }

    .videoHeading2 p{
      font-size: 16px !important;
    }

    .PlansHeader h1{
      font-size: 20px !important;
    }
    .PlansHeader h4{
      font-size: 16px !important;
    }
    .PlanBoard1{
      padding: 1em 1em !important;
    }
    .PlanBoard2{
      padding: 1em 1em !important;
    }
    .PlanBoard1 li h1{
      font-size: 20px !important;
    }
    .PlanBoard2 li h1{
      font-size: 20px !important;
    }
    .PlanBoard1 li:nth-child(2){
      font-size: 16px !important;
      padding-top: 0em !important;
    }
    .PlanBoard2 li:nth-child(2){
      font-size: 16px !important;
      padding-top: 0em !important;
    }
    .PlanBoard1 li:nth-child(3){
      font-size: 16px !important;
    }
    .PlanBoard2 li:nth-child(3){
      font-size: 16px !important;
    }
    .PlanBoard1 li:nth-child(4) button{
      font-size: 16px !important;
    }
    .PlanBoard2 li:nth-child(4) button{
      font-size: 16px !important;
    }
    .otherPlans{
      padding: 0.5em !important;
      font-size: 14px !important;
    }
    .PlanBoard1 li:nth-child(5){
      padding-top: 0.5em !important;
    }
    .PlanBoard2 li:nth-child(5){
      padding-top: 0.5em !important;
    }
    .NewsHeader h1{
      font-size: 20px !important;
    }
    .contactform li{
      padding-bottom: 0.5em !important;
    }

  }

  @media (min-width: 576px){
  .modal-dialog {
    width: 100% !important;
  }
}

@media screen and (max-width: 576px){
  .gmailbadge{
      width: 60% !important;
    }

    .facebookbadge{
      width: 60% !important;
    }

    .yahoobadge{
      width: 60% !important;
    }

    .linkedinbadge{
      width: 60% !important;
    }
    .loginlist{
      padding: 0em 0.5em !important;
    }
    .ToolsSection{
      height: 320px !important;
    }
    .PlansContainer{
      padding: 0em 0.8em 0.8em 0.8em !important;
    }
}

@media screen and (max-width: 480px){
  .navlistRight li{
    margin-left: 0.5em !important;
  }
  .navlistRight li:nth-child(1) span{
    padding-right: 5px !important;
  }
  .mobile-logo{
    display: block !important;
  }
  .sitelogo a img{
    display: none;
  }
  .footerIcon a img{
    width: 100px !important;
  }
  .footerIcon{
    padding-left: 0em !important;
  }
  .footer-social li a{
      font-size: 10px;
    }
  .footer-social li a div{
    width: 20px !important;
    height: 20px !important;
    line-height: 20px !important;
  }
  .footer-social{
    top: 8px !important;
  }
  .footerBar{
    height: 45px;
  }
  .newsform li:nth-child(1) input{
    height: 35px;
    padding: 0.5em;
    font-size: 12px;
  }
  .newsform li:nth-child(2) button{
    font-size: 12px;
    height: 30px;
  }

  .gmailbadge{
      width: 70% !important;
    }
    
    .facebookbadge{
      width: 70% !important;
    }

    .yahoobadge{
      width: 70% !important;
    }

    .linkedinbadge{
      width: 70% !important;
    }
  .requestbtn{
      width: 100% !important;
    }
    .inputt{
      font-size: 12px !important;
    }
    .form-select{
      font-size: 12px !important;
    }
    .Rhead1{
      font-size: 18px !important;
    }
    .Rhead2{
      font-size: 18px !important;
    }
    .recaptch1{
      -webkit-transform: scale(0.55) !important;
      transform: scale(0.55) !important;
      -webkit-transform-origin: 0 0 !important; 
      transform-origin: 0 0 !important;
    }
    .recaptch2{
      -webkit-transform: scale(0.55) !important;
      transform: scale(0.55) !important;
      -webkit-transform-origin: 50% 0 !important; 
      transform-origin: 50% 0 !important;
    }
    .videoHeading h1{
      font-size: 20px !important;
    }
    .videoHeading p{
      font-size: 16px !important;
    }
    .service-header span{
      font-size: 16px !important;
    }
    .service-header p{
      font-size: 14px !important;
    }
    .cardcontent h2{
      font-size: 12px !important;
    }
    .PlanBoard1{
      width: 100% !important;
    }
    .PlanBoard2{
      width: 100% !important;
    }
    header{
      height: 210px !important;
    }
    header .videoheader{
      height: 210px !important;
    }
    .aboutheader{
      height: 25px !important;
      line-height: 25px !important;
    }
    .aboutheader span{
      font-size: 25px !important;
    }
    .contact-header{
      padding: 1em 0.8em !important;
    }
    .GIT span{
      font-size: 20px !important;
    }
    .fireptyltd li:nth-child(1){
      font-size: 16px !important;
    }
    .pipefabsupport li:nth-child(1){
      font-size: 16px !important;
    }
    .fireptyltd{
      font-size: 14px !important;
    }
    .pipefabsupport{
      font-size: 14px !important;
    }
    .ContactBox{
      padding: 0.5em !important;
    }
    .ContactBox div{
      font-size: 16px !important;
    }
    .ContactBox input{
      padding: 8px !important;
      font-size: 12px !important;
    }
    .ContactBox input::placeholder{
      font-size: 12px !important;
    }
    .contactform textarea{
      padding: 8px !important;
      font-size: 12px !important;
    }
    .contactform li{
      padding-bottom: 0.5em !important;
    }
    .contactform button{
      width: 30% !important;
      font-size: 12px !important;
    }
    .slug{
      padding: 1.2em 1em !important;
    }
    .slug span{
       font-size: 18px !important;
    }
    .accordion-button{
      font-size: 18px !important;
    }
    .tutrialbody{
      padding: 0.5em !important;
    }
}

@media screen and (max-width: 425px){
    .gmailbadge{
      width: 85% !important;
    }
    
    .facebookbadge{
      width: 85% !important;
    }

    .yahoobadge{
      width: 85% !important;
    }

    .linkedinbadge{
      width: 85% !important;
    }
    .or li img{
      width: 80px !important;
    }
    .recaptch1{
      -webkit-transform: scale(0.44) !important;
      transform: scale(0.44) !important;
      -webkit-transform-origin: 0 0 !important; 
      transform-origin: 0 0 !important;
    } 

    .recaptch2{
      -webkit-transform: scale(0.44) !important;
      transform: scale(0.44) !important;
      -webkit-transform-origin: 50% 0 !important; 
      transform-origin: 50% 0 !important;
    }

    .inputt{
      font-size: 12px !important;
    }
    .requestbtn{
      font-size: 12px !important;
    }
    .videoHeading{
      top: 3em !important;
      left: 0.5em !important;
    }
    .videoHeading p{
      padding-top: 0.5em !important;
    }
}

@media screen and (max-width: 375px){
  .newsform li:nth-child(1) input{
    width: 18em;
  }
  .NewsLeterHeader h1{
    font-size: 18px;
  }
  .newsform li:nth-child(1) h2{
    font-size: 14px;
  }
  .NewsLeterHeader p{
    font-size: 14px;
  }
  .recaptch1{
      -webkit-transform: scale(0.33) !important;
      transform: scale(0.33) !important;
      -webkit-transform-origin: 0 0 !important; 
      transform-origin: 0 0 !important;
    }

    .recaptch2{
      -webkit-transform: scale(0.55) !important;
      transform: scale(0.55) !important;
      -webkit-transform-origin: 50% 0 !important; 
      transform-origin: 50% 0 !important;
    }

    .gmailbadge{
      width: 100% !important;
    }
    
    .facebookbadge{
      width: 100% !important;
    }

    .yahoobadge{
      width: 100% !important;
    }

    .linkedinbadge{
      width: 100% !important;
    }
    .videoHeading{
      top: 2em !important;
    }
    .videoHeading p{
      font-size: 16px !important;
    }
    header{
      height: 180px !important;
    }
    header .videoheader{
      height: 180px !important;
    }
    .NewsHeader h1{
      font-size: 16px !important;
    }
    .videoHeading2 p{
      font-size: 14px !important;
    }
    .contactform button{
      width: 45% !important;
    }
    .T-Item{
      padding-bottom: 3.5em !important;
    }
}