body{
	letter-spacing: 1px;
}

.navlistRight li:nth-child(2){
	display: block;
	cursor: pointer;
	color: #03253b;
}

.account-icon{
	width: 45px;
	height: 45px;
	border-radius:25px;
	border: 3px solid #128b94;
	overflow: hidden;
	background-image: url('../images/user.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.AccountList{
	position: absolute;
	background-color: #f2f2f2;
	width: 13%;
	overflow: hidden;
	padding: 0.5em;
	border-top: 3px solid #128b94;
	top: 5em;
	right: 3.3em;
	display: none;
	z-index: 300;
}

.SettingsBody{
	padding-top: 3em;
	padding-left: 3em;
	padding-bottom: 5em;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
	color: #333 !important;
    background-color: transparent !important;
    font-size: 15px !important;
    border: 2px solid #128b94;
    display: block !important;
}

.nav-pills .nav-link{
	color: #adadad !important;
	display: block !important;
	font-size: 15px !important;
	border-radius: 0 !important;
}

.nav-pills button{
	margin-bottom: 1em;
}

#v-pills-tab{
	border-right: 1px solid #128b94 !important;
}

.thead-light{
	background-color: #128b94;
	color: #fff;
}

tr{
	border-bottom: 1px solid #128b94 !important;
	text-align: center;
}

td{
	text-align: center;
	font-weight: bold;
}

.invoice{
	font-weight: bold;
	color: #d85151;
}

.EdintFormBody{
	border-top: 1px solid #128b94 !important;
}

.EdintFormBody div:nth-child(1){
	text-align: left !important;
	width: 30% !important;
}

.EdintFormBody div:nth-child(3){
	text-align: right !important;
}

.EdintFormBody .col-md-4{
	text-align: center;
	padding: 1em 0.2em;
}

.changebtn{
	border: none;
	color: #fff;
	font-weight: bold;
	font-size: 20;
	padding: 8px;
	width: 30%;
	background-color: #d85151;
}

.updatebtn{
	border: none;
	color: #fff;
	font-weight: bold;
	font-size: 20;
	padding: 8px;
	width: 30%;
	background-color: #d85151;
}

.updat1{
	display: none;
}

.updat2{
	display: none;
}

.updat3{
	display: none;
}

.updat4{
	display: none;
}

.updat5{
	display: none;
}

.updat6{
	display: none;
}

.updat7{
	display: none;
}

.updat8{
	display: none;
}

.updat9{
	display: none;
}

.inputfield1 input{
	text-align: center;
	width: 100%;
	padding: 0.5em 0em !important;
	color: #128b94;
	font-size: 18px;
	font-weight: bold;
}

.inputfield2 input{
	text-align: center;
	width: 100%;
	padding: 0.5em 0em !important;
	color: #128b94;
	font-size: 18px;
	font-weight: bold;
}

.inputfield3 input{
	text-align: center;
	width: 100%;
	padding: 0.5em 0em !important;
	color: #128b94;
	font-size: 18px;
	font-weight: bold;
}

.inputfield4 input{
	text-align: center;
	width: 100%;
	padding: 0.5em 0em !important;
	color: #128b94;
	font-size: 18px;
	font-weight: bold;
}

.inputfield5 input{
	text-align: center;
	width: 100%;
	padding: 0.5em 0em !important;
	color: #128b94;
	font-size: 18px;
	font-weight: bold;
}

.inputfield6 select{
	text-align: center !important;
	width: 100% !important;
	padding: 0.5em 0em !important;
	color: #128b94 !important;
	font-size: 18px !important;
	font-weight: bold !important;
	border-radius: 0px !important;
}

.inputfield7 input{
	text-align: center;
	width: 100%;
	padding: 0.5em 0em !important;
	color: #128b94;
	font-size: 18px;
	font-weight: bold;
}

.inputfield8 input{
	text-align: center;
	width: 100%;
	padding: 0.5em 0em !important;
	color: #128b94;
	font-size: 18px;
	font-weight: bold;
}

.inputfield9 select{
	text-align: center;
	width: 100%;
	padding: 0.5em 0em !important;
	color: #128b94;
	font-size: 18px;
	font-weight: bold;
	border-radius: 0px !important;
}

.inputfield1{
	display: none;
}

.inputfield2{
	display: none;
}

.inputfield3{
	display: none;
}

.inputfield4{
	display: none;
}

.inputfield5{
	display: none;
}

.inputfield6{
	display: none;
}

.inputfield7{
	display: none;
}

.inputfield8{
	display: none;
}

.inputfield9{
	display: none;
}

.labell1 {
	color: #128b94;
	font-size: 20px;
	font-weight: bold;
}

.labell2 {
	color: #128b94;
	font-size: 20px;
	font-weight: bold;
}

.labell3 {
	color: #128b94;
	font-size: 20px;
	font-weight: bold;
}

.labell4 {
	color: #128b94;
	font-size: 20px;
	font-weight: bold;
}

.labell5 {
	color: #128b94;
	font-size: 20px;
	font-weight: bold;
}

.labell6 {
	color: #128b94;
	font-size: 20px;
	font-weight: bold;
}

.labell7 {
	color: #128b94;
	font-size: 20px;
	font-weight: bold;
}

.labell8 {
	color: #128b94;
	font-size: 20px;
	font-weight: bold;
}

.labell9 {
	color: #128b94;
	font-size: 20px;
	font-weight: bold;
}

img[src="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"]{ display: none; }